.main_contacto {
    background-color: $colorbody2;
        .cont-form {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 50px,40px,40px,30px,150px,40px;
            grid-template-areas: 
            "... titulo-form titulo-form ..."
            "... imp-name imp-apellido ..."
            "... imp-email imp-tel ..."
            "... titulo-cons titulo-cons ..."
            "... imp-cons imp-cons ..."
            "... botones-form botones-form ...";
            justify-content: center;
            justify-items: center;
            align-items: center;
                input:not([type]), input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid #6da4dc;
                    border-top-left-radius: 10px !important;
                    border-top-right-radius: 10px !important;
                    border-bottom-left-radius: 10px !important;
                    border-bottom-right-radius: 10px !important;
                    outline: none;
                    width: 90%;
                    height: 50%;
                    margin-top: 5%;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 5%;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                    font-size: 1rem;
                    padding: 0;
                    box-shadow: none;
                    box-sizing: content-box;
                    transition: all .3s;
                }
                input:not([type]), input[type=text]::placeholder, input[type=email]::placeholder, input[type=tel]::placeholder, textarea.materialize-textarea::placeholder{ 
                    text-align: center;
                }
                input:not([type]), input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=number]:focus, textarea.materialize-textarea:focus {
                    border-bottom: 2px solid #1c538a;
                }
                .titulo-form{
                    grid-area: titulo-form;
                    width: 80%;
                    height: 50%;
                    margin-top: 5%;
                    margin-bottom: 2%;
                    margin-left: 10%;
                    margin-right: 10%;
                    background-color: #6da4dc00;
                    border-radius: 10% 10%;
                    color: $colorfooterfin;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                }
                .imp-name{
                    grid-area: imp-name;
                    width: 90%;
                    height: 90%;
                    margin-top: 5%;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 5%;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                }
                .imp-apellido{
                    grid-area: imp-apellido;
                    width: 90%;
                    height: 90%;
                    margin-top: 5%;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 5%;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                }
                .imp-email{
                    grid-area: imp-email;
                    width: 90%;
                    height: 90%;
                    margin-top: 5%;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 5%;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                }
                .imp-tel{
                    grid-area: imp-tel;
                    width: 90%;
                    height: 90%;
                    margin-top: 5%;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 5%;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                }
                .titulo-cons{ 
                    grid-area: titulo-cons;
                    width: 60%;
                    height: 40%;
                    margin-top: 5%;
                    margin-bottom: 5%;
                    margin-left: 20%;
                    margin-right: 20%;
                    background-color: #6da4dc00;
                    border-radius: 10% 10%;
                    color: $colorfooterfin;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                }
                
                .imp-cons{
                    grid-area: imp-cons;
                    width: 90%;
                    height: 96%;
                    margin-top: 2%;
                    margin-bottom: 2%;
                    margin-left: 5%;
                    margin-right: 5%;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                    .form-control {
                        opacity: 0.7;
                        background-color: transparent;
                        border: none;
                        font-size: 1rem;
                        border-bottom: 2px solid #6da4dc;
                        border-top-left-radius: 10px !important;
                        border-top-right-radius: 10px !important;
                        border-bottom-left-radius: 10px !important;
                        border-bottom-right-radius: 10px !important;
                        outline: none;
                    }
                    .form-control:focus {
                        border: none !important;
                        border-bottom: 2px solid #1c538a;
                    }
                    .form-control::placeholder {
                        text-align: center;
                    }
                }
                .botones-form{
                    grid-area: botones-form;
                    width: 90%;
                    height: 90%;
                    margin-top: 5%;
                    margin-bottom: 5%;
                    margin-left: 5%;
                    margin-right: 5%;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: 100%;
                    grid-template-areas: 
                    "btn-submit btn-reset";
                        .btn{
                            border-style: none;
                        }
                        .btn-submit{
                            grid-area: btn-submit;
                            color: $colorletrabtn;
                            background-color: $colorbtnform !important;
                        }
                        .btn-submit:hover{
                            transform: scale(0.9);
                            background-color: $colorbtnformhover !important;
                        }
                        .btn-reset{
                            grid-area: btn-reset;
                            color: $colorletrabtn;
                            background-color: $colorbtnform !important;
                        }
                        .btn-reset:hover{
                            transform: scale(0.9);
                            background-color: $colorbtnformhover !important;
                        }
                }
                ::placeholder {
                    color: white !important;
                }
        }
}


@media screen and (max-width: 1200px) {
    .main_contacto {
        background-color: $colorbody;
            .cont-form {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3,1fr),30px,30px,100px,40px;
                grid-template-areas: 
                "titulo-form titulo-form titulo-form titulo-form"
                "imp-name imp-name imp-apellido imp-apellido"
                "imp-email imp-email imp-tel imp-tel"
                "titulo-cons titulo-cons titulo-cons titulo-cons"
                "... check check ..."
                "imp-cons imp-cons imp-cons imp-cons"
                "... botones-form botones-form ...";
                justify-content: center;
                justify-items: center;
                align-items: center;
                    .titulo-form{
                        grid-area: titulo-form;
                        width: 60%;
                        height: 50%;
                        margin-top: 10%;
                        margin-bottom: 2%;
                        margin-left: 20%;
                        margin-right: 20%;
                        border-radius: 10% 10%;
                        color: $colorfooterfin;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                    }
                    .titulo-cons{ 
                        grid-area: titulo-cons;
                        width: 60%;
                        height: 40%;
                        margin-top: 5%;
                        margin-bottom: 5%;
                        margin-left: 20%;
                        margin-right: 20%;
                        border-radius: 10% 10%;
                        color: $colorfooterfin;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                    }
                    .imp-name{
                        grid-area: imp-name;
                        width: 70%;
                        height: 90%;
                        margin-top: 5%;
                        margin-bottom: 5%;
                        margin-left: 25%;
                        margin-right: 5%;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                    }
                    .imp-apellido{
                        grid-area: imp-apellido;
                        width: 70%;
                        height: 90%;
                        margin-top: 5%;
                        margin-bottom: 5%;
                        margin-left: 5%;
                        margin-right: 25%;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                    }
                    .imp-email{
                        grid-area: imp-email;
                        width: 70%;
                        height: 90%;
                        margin-top: 5%;
                        margin-bottom: 5%;
                        margin-left: 25%;
                        margin-right: 5%;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                    }
                    .imp-tel{
                        grid-area: imp-tel;
                        width: 70%;
                        height: 90%;
                        margin-top: 5%;
                        margin-bottom: 5%;
                        margin-left: 5%;
                        margin-right: 25%;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                    }
            }
    }
}

@media screen and (max-width: 525px) {
    .main_contacto {
        background-color: $colorbody;
            .cont-form {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3,1fr),30px,30px,100px,40px;
                grid-template-areas: 
                "titulo-form titulo-form titulo-form titulo-form"
                "imp-name imp-name imp-apellido imp-apellido"
                "imp-email imp-email imp-tel imp-tel"
                "titulo-cons titulo-cons titulo-cons titulo-cons"
                "... check check ..."
                "imp-cons imp-cons imp-cons imp-cons"
                "botones-form botones-form botones-form botones-form";
                justify-content: center;
                justify-items: center;
                align-items: center;
                    .titulo-form{
                        grid-area: titulo-form;
                        width: 80%;
                        height: 50%;
                        margin-top: 10%;
                        margin-bottom: 2%;
                        margin-left: 10%;
                        margin-right: 10%;
                        border-radius: 10% 10%;
                        color: $colorfooterfin;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                    }
                    .titulo-cons{ 
                        grid-area: titulo-cons;
                        width: 70%;
                        height: 40%;
                        margin-top: 5%;
                        margin-bottom: 5%;
                        margin-left: 15%;
                        margin-right: 15%;
                        border-radius: 10% 10%;
                        color: $colorfooterfin;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                    }
                    .imp-name{
                        grid-area: imp-name;
                        width: 90%;
                        height: 90%;
                        margin-top: 5%;
                        margin-bottom: 5%;
                        margin-left: 5%;
                        margin-right: 5%;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                    }
                    .imp-apellido{
                        grid-area: imp-apellido;
                        width: 90%;
                        height: 90%;
                        margin-top: 5%;
                        margin-bottom: 5%;
                        margin-left: 5%;
                        margin-right: 5%;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                    }
                    .imp-email{
                        grid-area: imp-email;
                        width: 90%;
                        height: 90%;
                        margin-top: 5%;
                        margin-bottom: 5%;
                        margin-left: 5%;
                        margin-right: 5%;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                    }
                    .imp-tel{
                        grid-area: imp-tel;
                        width: 90%;
                        height: 90%;
                        margin-top: 5%;
                        margin-bottom: 5%;
                        margin-left: 5%;
                        margin-right: 5%;
                        display: flex;
                        justify-content: center;
                        justify-items: center;
                        align-items: center;
                    }
            }
    }
}




















