div.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: $full;
}
header{
    div{
        .row {
            background-color: $colorheader !important;
            min-width: 100% !important;
            padding-right: 0px !important;
            padding-left: 0px !important;
            padding: 0% !important;
            .col{
                padding: 0px !important;
                    nav {
                        color: #fff;
                        background-color: #458dd6 !important;
                        width: 100%;
                        line-height: 40px !important;
                    }
            }
        }
        .row_header {
            margin-right: 0px !important;
            margin-left: 0px !important;
            margin-bottom: 0% !important;
            padding: 0% !important;
            .btn-carritov{
                display: flex;
                align-items: center;
                justify-content: center;
                justify-items: center;
                .btn-carritoh{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    justify-items: center;
                    margin-right: 5px;
                    #boton-carrito {
                        border: none;
                        color: rgb(29, 103, 149);
                        font-size: 30px;
                        background-color: white;
                        border-top-left-radius: 20px !important;
                        border-top-right-radius: 20px !important;
                        border-bottom-left-radius: 20px !important;
                        border-bottom-right-radius: 20px !important;
                        padding: 0px;
                        transition: all 0.3s;
                    }
                    #boton-carrito:hover {
                        cursor: pointer;
                        color: white;
                        background-color: rgb(29, 103, 149);
                    }
                    #boton-carrito:focus {
                        outline: none;
                    }
                    .btn-carrito{
                        width: 70px;
                        height: 40px;
                        margin-top: 13%;
                        margin-bottom: 15%;
                        margin-right: 2%;
                        padding: 0%;
                        border-radius: 15% !important;
                        .img-cont-contain{
                            width: 100%;
                            height: 100%;
                            display: grid;
                            grid-template-rows: 100%;
                            grid-template-columns: repeat(2,1fr);
                            grid-template-areas:
                            "cont-carrito img-carrito";
                                .img-carrito{
                                    width: 30%;
                                    height: 70%;
                                    display: flex;
                                    margin-left: 0%;
                                    margin-right: 0%;
                                    margin-top: 5%;
                                    margin-bottom: 5%;
                                    grid-area: img-carrito;
                                }
                                .cont-carrito{
                                    margin-left: 0%;
                                    margin-right: 0%;
                                    display: flex;
                                    grid-area: cont-carrito;
                                    width: 40%;
                                    height: 90%;
                                    margin-top: 5%;
                                    margin-bottom: 5%
                                }
                        }
                    }
                }
            }  
            .logo-pag { /*Logo redondo con letras de la pagina*/
                margin-top: 0px;
                margin-bottom: 5px;
                width: 100%;
                height: 50px;
            }
            .d-flex {
                display: grid !important;
                grid-template-rows: 100% !important;
                grid-template-columns: 4rem, 4rem, 4rem, 4rem !important; 
                grid-template-areas: 
                "search search lupa lupa";
                height: 64px;
                .search_css {
                    grid-area: search;
                    background-color: map-get($colorbtn, colorsearch) !important;
                    height: 30px !important;
                    width: 90% !important;
                    margin-left: 5% !important;
                    margin-right: 5%;
                    margin-top: 17px;
                    margin-bottom: 17px;

                    text-align: center;
                    vertical-align: middle;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                .btn {
                    grid-area: lupa;
                    box-shadow: map-get($sombras, sombrabtnheader) !important;
                    color: map-get($colorbtn, colorletrabtn) !important;
                    border: none !important;
                    height: 30px !important;
                    width: 95% !important;
                    vertical-align: middle;
                    margin-right: 3% !important;
                    margin-left: 2%;
                    margin-top: 17px;
                    margin-bottom: 17px !important;
                    border-top-left-radius: 15px !important;
                    border-top-right-radius: 15px !important;
                    border-bottom-left-radius: 15px !important;
                    border-bottom-right-radius: 15px !important;
                    .lupa-src{
                        width: 0% !important;
                        height: 0% !important;
                        padding-top: 0px;
                    }
                } 
                .btn:before{
                    content: "Buscar";
                }
                .btn, .btn-large, .btn-flat {
                    text-transform: none !important;
                }
            }
            .boton-nav { /*Botones del menu nav*/
                margin-left: 20px;
                color: map-get($colorbtn, colorletrabtn) !important;
            }
            .boton-nav:hover {  
                transform: scale(0.9);
                /* background-color: map-get($colorbtn, colorbtnhover); */
            }
            .btn:hover {
                transform: scale(0.9);
                background-color: $colorbtnformhover;
            }
            div ul.nav-css {
                margin-right: 20px !important;
            }
        }
    }
}



@font-face {
    font-family: river;
    src: url(fonts/river.ttf);
}
.show {
    z-index: 1;
}


@media screen and (max-width: 600px) {
    nav {
        height: 64px !important;

    }
}

@media screen and (min-width: 991px) {
    header div.row_header div ul.nav-css {
        margin-right: auto !important;
    }
}

@media screen and (max-width: 990px) {
    .navbar-light .navbar-toggler-icon {
        background-image: url(../imagenes_pagina/menu_img.png) !important;
    }
    header div .row_header .navbar-collapse{
        background-color: #58a1e9d4;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        z-index: 2;
        width: 50%;
        margin-left: 50%;
        margin-right: 0%;
    }
    .navbar-toggler:hover {
        background-color: #18538ed4;
    }
    .navbar-toggler:focus {
        outline: 0;
        background-color: #18538ed4;
    }
    header div .row_header .search_css {
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 10%;
        width: 90%;
    }
    header div .row_header{
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-bottom: 0% !important;
        padding: 0% !important;
        .btn-carritov{
            padding-left: 0px !important;
            .btn-carritoh{
                margin-right: 0px;
                #boton-carrito {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }  
        .d-flex {
            display: grid !important;
            grid-template-rows: 100% !important;
            grid-template-columns: 4rem, 4rem, 4rem, 4rem !important; 
            grid-template-areas: 
            "search search search lupa";
            height: 50px;
            .search_css {
                grid-area: search;
                background-color: map-get($colorbtn, colorsearch) !important;
                height: 40px !important;
                width: 85% !important;
                margin-left: 10% !important;
                margin-right: 5% !important;
                margin-top: 5px !important;
                margin-bottom: 5px !important;
                text-align: center;
                vertical-align: middle;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            .btn {
                grid-area: lupa;
                box-shadow: map-get($sombras, sombrabtnheader) !important;
                color: map-get($colorbtn, colorletrabtn) !important;
                border: none !important;
                height: 40px !important;
                width: 85% !important;
                vertical-align: middle;
                margin-right: 15% !important;
                margin-left: 0% !important;
                margin-top: 5px !important;
                margin-bottom: 5px !important;
                padding-left: 10px !important;
                padding-right: 15px !important;
                border-top-left-radius: 15px !important;
                border-top-right-radius: 15px !important;
                border-bottom-left-radius: 15px !important;
                border-bottom-right-radius: 15px !important;
                .lupa-src{
                    width: 30px !important;
                    height: 30px !important;
                    padding-top: 0px;
                }
            } 
            .btn:before{
                content: none !important;
            }
        }
    }
}