.index-grid {
    display: flex;
    flex-direction: column;
    background-color: $colorbody2;
    width: $full;
}

/*CARRUSELES*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px !important;
}
h2 {
    margin-bottom: 0px !important;
}

.titulocarrusel{
    text-align: center;
    color: $colorfooterfin;
    background-color: $colorbody;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    padding-bottom: 10px;
}
div.carousel {
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row; 
    object-fit: contain;
    width: 98%;
    height: 300px;
    border: 0.5px ridge #82838400;
    box-shadow: map-get($sombras, sombracarrousel) !important;
        .carousel-inner {
            display: flex;
            align-items: center;
            justify-items: center;
            flex-direction: row; 
            object-fit: contain;
            width: $full;
            height: 300px;   
                .carousel-item{
                    width: 100% !important;
                    transition-duration: 0.1s; 
                    img{
                        display: flex;
                        align-items: center;
                        justify-items: center;
                        flex-direction: row; 
                        object-fit: contain;
                        width: $full;
                        height: 300px;        
                    }
                    .zoom {
                        transition: transform .3s; 
                    }
                    .zoom:hover {
                        transform: scale(1.1); 
                        cursor: pointer;
                    }
                    .img_spoon-lure {
                        height: 300px;
                    }
                    .img_popper{
                        height: 300px;
                    }
                    .img_cania_abu_casting {
                        margin-top: 15px;
                        height: 250px;
                    }
                    .img_cania_globeride {
                        width: 250px;
                    }
                    .img_cania_recreacion_ninio {
                        margin-top: 15px;
                        height: 250px;
                    }
                }
        }
        .boton_carrusel {
            opacity: 0.1 !important;
            background-color: $btncarrusel;
        }
}







